* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #575656;
  color: white;
}

h1 {
  padding: 20px;
  margin-top: 12px;
  font-size: 3rem;
  text-transform: capitalize;
}

p {
  color: #2d027d;
}

.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.data_container {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 20px 24px;
}

.card {
  width: 16%;
  height: 20%;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0;
  background-color: azure;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.15), 0 1.5px 8px 0 rgba(255, 255, 255, 0.2);
  border-color: #2d027d;
  background-color: #f6f7f7;
}

img {
  width: 80%;
  margin: auto;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.page {
  margin: 4px;
  padding: 4px 8px;
  border: 1px solid white;
  background-color: green;
}